<main>
    <p-card styleClass="card-adjust p-mt-5 p-mx-3">
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <div>
                <label for="produto">Produto</label>
                <input pInputText  type="text" id="produto" name="produto" [(ngModel)]="model.produto" required/>
            </div>
            <div>
                <label for="quantidade">Quantidade</label>
                <p-inputNumber  type="number" id="quantidade" name="quantidade" [(ngModel)]="model.quantidade" required/>
            </div>
            <div>
                <label for="preco">Preço</label>
                <p-inputNumber mode="currency" currency="BRL" placeholder="0,00" type="number" id="preco" name="preco" [(ngModel)]="model.preco" required/>
            </div>
            <button pButton type="submit">Adicionar Produto</button>
          </form>
          
          <div *ngIf="produtos.length > 0">
            <h3>Produtos</h3>
            <table class="ui-table table-striped table-hover">
                <thead>
                  <tr>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                    <th>Total</th>
                    <th>Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let produto of produtos; let i = index">
                    <td>{{ produto.produto }}</td>
                    <td>{{ produto.quantidade }}</td>
                    <td>{{ produto.preco | currency: 'BRL':'symbol' }}</td>
                    <td>{{ produto.total | currency: 'BRL':'symbol' }}</td>
                    <td>
                      <button pButton icon="pi pi-trash" class="p-button-danger" (click)="deleteProduto(i)">Excluir</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              
            
            <button pButton (click)="exportResultToExcel()">Exportar para Excel</button>
            <button pButton (click)="exportResultToPDF()">Exportar para PDF</button>
          </div>
          
                    
 <!-- 
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div>
            <label for="produto">Produto</label>
            <input pInputText  type="text" id="produto" name="produto" [(ngModel)]="model.produto" required/>
        </div>
        <div>
            <label for="quantidade">Quantidade</label>
            <p-inputNumber  type="number" id="quantidade" name="quantidade" [(ngModel)]="model.quantidade" required/>
        </div>
        <div>
            <label for="preco">Preço</label>
            <p-inputNumber mode="currency" currency="BRL" placeholder="0,00" type="number" id="preco" name="preco" [(ngModel)]="model.preco" required/>
        </div>
        <button pButton type="submit">Calcular</button>
    </form>
    
    <div *ngIf="result">
        <h3>Resultado</h3>
        <p>Produto: {{ result.produto }}</p>
        <p>Quantidade Total: {{ result.quantidadeTotal }}</p>
        <p>Preço Total: {{ result.precoTotal | currency }}</p>
        
        <button pButton (click)="exportResultToExcel()">Exportar para Excel</button>
    </div>
-->       
</p-card>
</main>