

.header img {
    width: 300px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5px;
}

@media (min-width: 1200px) {
    .header {
        width: 1170px;
        margin: 0 auto;
    }
  }