<div class="grid fluid">


    <div class="conteudo">
            <img class="col-12 md:col-12 md:col-6" src="assets/img/09.png" alt="">
        

        <p-card class="card  md:col-12 md:col-6">
            <h2>COMO FUNCIONA?</h2>
            <img src="assets/img/10.png" alt="" width="100">
            <p>Bem-vindos ao Super Surporte! Esta página possui o objetivo de sanar dúvidas e resolver problemas
                técnicos
                com computadores, impressoras e outros dispositivos.</p>
            <p>
                Serão oferecidos tutorais detalhados e passo a passo com imagens para te dar uma resposta precisa e
                imediata. Você economizará tempo e recurso, e terá a solução rapidamente.
            </p>

        </p-card>

    </div>
    <div class="accordion md:col-12 md:col-6">

        <p-accordion class="md:col-12  md:col-6">
            <p-accordionTab header="Impressora">
                <h2>Impressora</h2>
                <ol>
                    <li class="lista">Na caixa de pesquisa da barra de tarefas, digite painel de controle e selecione
                        Painel de
                        Controle.
                        <br>
                        <img class="col-12 md:col-12 md:col-6" src="assets/img/01.png" alt="" width="500">
                    </li>
                    <li class="lista">Em Hardware e Sons, escolha Exibir dispositivos e impressoras.
                        <br>
                        <img class="col-12 md:col-12 md:col-6" src="assets/img/02.png" alt="">
                    </li>
                    <li class="lista">Aperte o botao de <strong>Adicionar dispositivo</strong> va ate a opçao
                        <strong>Adicionar
                            manualmente</strong>
                        <br>
                        <img class="col-12 md:col-12 md:col-6" src="assets/img/03.png" alt="">
                    </li>
                    <li class="lista">Escolha a opçao Adicionar uma impressora usando um endereço IP ou nome de host e
                        click em
                        <strong>Avançar</strong>.
                        <br>
                        <img class="col-12 md:col-12 md:col-6" src="assets/img/04.png" alt="">
                    </li>
                    <li class="lista">So colocar IP da Impressora no campo e click em <strong>Avançar</strong>
                        <br>
                        <img class="col-12 md:col-12 md:col-6" src="assets/img/06.png" alt="">
                    </li>

                    <li class="lista">
                        Para trocar o nome da sua impressora e personalisar da forma que precisar selecione a impressora
                        e va
                        ate <strong>Propredade da impressora</strong>
                        <br>
                        <img class="col-12 md:col-12 md:col-6" src="assets/img/07.png" alt="">
                        <p>Apos colocar nome desejado click em <strong>OK</strong></p>
                    </li>
                </ol>
            </p-accordionTab>
        </p-accordion>
    </div>

</div>