.accordion {
    display: flex;
   justify-content: center;
   margin: 0 auto;
    margin-bottom: 100px;
 }
 
 
 
 .accordion h2 {
     text-align: center;
     
 }
 
 .lista {
     box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
     border-bottom: solid 1px #9E9FA5;
     padding: 10px;
     margin: 15px;
 }
 
 .conteudo .card {
  display: flex;
  justify-content: center;
  margin: 0 auto;
 }
 
 .conteudo .card h2 {
     color: #ff6600;
     margin: 10px;
     margin-bottom: 15px;
     text-align: center;
 }
 
 .conteudo .card img {
     display: flex;
     float: right;
     margin-right: 2%;
 }
 
 .conteudo .card p {
     text-align: center;
     margin: 0 auto;
     margin-bottom: 25px;
     font-weight: bold;
     font-size: 1.2rem;
 }
 
 
 
 
 
 